@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/static/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/static/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
}
:root {
    --OffWhite: hsl(36, 100%, 99%);
    --SoftRed: hsl(5, 85%, 63%);
    --SoftOrange: hsl(35, 77%, 62%);
    --GrayishBlue: hsl(233, 8%, 79%);
    --DarkGrayishBlue: hsl(236, 13%, 42%);
    --VeryDarkBlue: hsl(240, 100%, 5%);
}

body {
    font-family: "Inter", sans-serif;
    font-size: 0.94rem;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.hamburger-icon {
    position: relative;
    z-index: 2;
}
.nav-links {
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 2.8rem;
    padding: 2rem;
    background-color: var(--OffWhite);
    min-height: 100vh;
    width: 50%;
    z-index: 1;
    transition: 0.3s ease;
    cursor: pointer;
}
.nav-links.active {
    display: flex;
}
.nav-links li a {
    font-family: 1.5rem;
    color: var(--DarkGrayishBlue);
}
.nav-links li a:hover {
    color: var(--SoftRed);
    cursor: pointer;
}
a,
a:link,
a:visited,
a:focus,
a:hover {
    text-decoration: none;
    display: inline-block;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    margin: 1rem 1.2rem;
}

/* Hero image styling */
.hero-image img{
    width: 100%;
    height: 100%;
}

/* Hero section styling*/
.hero-section {
    display: flex;
    flex-direction: column;
}
.h1-heading {
    font-size: clamp(2rem, 6vw + 1rem, 5rem);
    font-weight: 800;
    color: var(--VeryDarkBlue);
    
}
.p-heading {
    line-height: 2;
    margin-top: 0;
    color: var(--DarkGrayishBlue);
}
button {
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--SoftRed);
    color: var(--VeryDarkBlue);
    font-weight: 800;
    letter-spacing: 0.3rem;
}
.aside {
    background-color: var(--VeryDarkBlue);
    color: var(--OffWhite);
    padding: 1rem 1rem;
}
.h2-aside {
    font-size: clamp(2rem, 2vw + 1rem, 4rem);
    font-weight: 500;
    color: var(--SoftOrange);
}
.h3-aside {
    font-size: clamp(1.3rem, 2vw + 0.6rem, 2rem);
}
.p-aside {
    opacity: 0.6;
}
hr {
    border: none;
    border-top: 1px solid var(--OffWhite);
    opacity: 0.4;
}


/* Footer section styling */
.footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.footer-card {
    display: grid;
    grid-template-columns: 11rem 1fr;
    gap: 1rem;
}
.footer-card img {
    width: 100%;
    height: 100%;
}
.h2-footer {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    color: var(--SoftRed);
}
.h3-footer {
    font-size: clamp(1.3rem, 4vw + 0.6rem, 2rem);
    color: var(--VeryDarkBlue);
    padding: 1rem 0;
}
.footer-text p {
    color: var(--DarkGrayishBlue);
    font-family: clamp(1.2rem, 4vw + 1rem, 1.5rem);
}
/* Media Query */
@media (min-width: 900px) {
    .header {
        padding: 2rem 4rem;
    }
    .hamburger-icon {
        display: none;
    }
    .nav-links {
        all: unset;
        display: flex;
        list-style: none;
        gap: 2rem;
    }
    main {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .hero-image {
        grid-column: 1/3;
    }
    .hero-section {
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .h1-container {
        grid-column: 1/2;
        grid-row: 1/-1;
    }
    .p-container {
        grid-column: 2/3;
        grid-row: 1/-1;
    }
    .aside {
        grid-column: 3/4;
        grid-row: 1/3;
    }
    .footer {
        grid-column: 1/-1;
        grid-row: 3/4;
    }

    button:hover {
        background-color: var(--VeryDarkBlue);
        color: var(--OffWhite);
    }
}