:root {
    --SoftOrange: hsl(35, 77%, 62%);
    --SoftRed: hsl(5, 85%, 63%);
    --GrayishBlue: hsl(233, 8%, 79%);
    --DarkGrayishBlue: hsl(236, 13%, 42%);
    --VeryDarkBlue: hsl(240, 100%, 5%);
    --OffWhite: hsl(36, 100%, 99%);
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Regular.ttf");
}

body {
    font-family: "Inter", sans-serif;
    font-size: 0.94rem;
    background-color: var(--OffWhite);
    padding: 1rem 0;
}

.main-section, .second-section {
    padding: 1.2rem 0.94rem;
}
.main-section {
    display: flex;
    flex-direction: column;
}
hr {
    border: 0;
    border-top: 1px solid var(--OffWhite);
    opacity: 0.3;
}


/* Navigation styling */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 15px; /* Take note of this padding*/
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--DarkGrayishBlue);
}
nav li:first-child {
    margin-right: auto;
}


/* Sidebar styling */
.side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    font-size: 1.5rem;
    background-color: var(--OffWhite);
    list-style-type: none;
    flex-direction: column;
    gap: 1rem;
    display: none;
    /* Check this align-items and justify-content later. */
    align-items: flex-start;   
    justify-content: flex-start;
}
.side-bar li {
    width: 100%;
}
.side-bar a {
    width: 100%;
}
@media (max-width: 750px) {
    .hideOnMobile {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
}
@media (max-width: 400px) {
    .side-bar {
        padding: 10px 0;
    }
}
@media (min-width: 700px) {
    .open-icon {
        display: none;
    }
    nav a:hover {
        color: var(--SoftRed);
    }
}


/* Image content styling */
@media (max-width: 20.6rem) {
    .image-header {
        width: 18rem;
    }
} 
@media (min-width: 20.68rem) and (max-width: 22.5rem) {
    .image-header {
        width: 19.38rem;
    }
}
@media (min-width: 22.6rem) and (max-width: 25rem) {
    .image-header {
        width: 21.25rem;
    }
}
@media (min-width: 25.1rem) and (max-width: 28.1rem) {
    .image-header {
        width: 23.1rem;
    }
}
.retro-image, .laptop-image, .gaming-image {
    width: 150px;
}


/* Text styling */
h1 {
    font-size: 2.7rem;
    font-weight: 800;
    color: var(--VeryDarkBlue);
}
p {
    color: var(--DarkGrayishBlue);
}
h2 {
    color: var(--SoftOrange);
}
h3 {
    color: var(--OffWhite);
}
.h2-footer {
    color: var(--SoftRed);
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 0;
}
.h3-footer {
    color: var(--VeryDarkBlue);
    font-size: 1.4rem;
}


/* Button styling */
.button {
    background-color: var(--SoftRed);
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--VeryDarkBlue);
    margin-top: 0.8rem;
}

/* Heading Styling */
.heading-container {
    margin: 0;
}
.first-heading {
    margin-bottom: 0;
}


/* Midsection styling */
.image-header { 
    margin-bottom: 1.2rem; 
}
.first-heading {
    margin-top: 0; 
}
.aside {
    background-color: var(--VeryDarkBlue);
    margin-top: 4rem;
    padding: 0.5rem 1rem;
}


/* Footer styling */
.footer-card {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    margin-top: 1rem;
}
.content {
    align-self: center;
}


/* Styling from 740px to 899px */
@media (min-width: 46.25rem) and (max-width: 56.18rem) {
    .nav-links {
        font-size: 1.3rem;
    }
    .image-header {
        width: 47rem;
    }
    .first-heading {
        font-size: 3.2rem;
    }
    p {
        font-size: 1.3rem;
    }
    h2, .h2-footer {
        font-size: 2.5rem;
    }
    h3, .h3-footer {
        font-size: 2rem;
    }
    .aside {
        padding: 1rem 2rem;
    }
}


/* Styling from 900px and above */
@media (min-width: 56.25rem) {
    body {
        padding: 2rem;
    }
    .main-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    /* heading container styling */
    .image-header {
        width: 51rem;
        min-height: 33rem;
    }
    .heading-container {
        display: flex;
        flex-direction: row;
        gap: 1.2rem;
        justify-content: center;
        align-items: center;
        max-width: 51rem;
    }
    button:hover {
        background-color: var(--VeryDarkBlue);
        color: var(--OffWhite);
        cursor: pointer;
    }

    /* Text styling */
    .nav-links {
        font-size: 1.3rem;
    }
    .first-heading {
        font-size: 3.1rem;
    }
    p {
        font-size: 1.3rem;
    }
    h2 {
        font-size: 2.3rem;
    }
    h3 {
        font-size: 2rem;
    }
    .aside {
        padding: 2rem ;
    }
    .h3-aside:hover {
        color: var(--SoftOrange);
        cursor: pointer;
    }
    
    /* Footer Styling */
    .second-section {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        padding: 1rem 1rem;
    }
    .laptop-image, .gaming-image, .retro-image {
        width: 12rem;
    }
    .h2-footer {
        margin: 1.5rem;
        margin-bottom: 0;
    }
    .h3-footer {
        margin-top: 1rem;
    }
    .h3-footer:hover {
        color: var(--SoftRed);
        cursor: pointer;
    }
}